<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!--interface-->
		<add key="Site" value="false" />
		<add key="SiteTitle" value="DanDanTang" />
		<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
        <add key="LoginKey_a" value="aaaa-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginUrl" value="http://127.0.0.1:6500/Quest/CreateLogin.aspx" />
		<add key="LoginOnUrl" value="http://127.0.0.1:6500/login.htm" />
		<add key="FlashUrl" value="http://127.0.0.1:6500/Default.aspx" />
		<add key="FlashConfig" value="http://127.0.0.1:6500/config.xml" />
        <add key="FlashSite" value="http://127.0.0.1:6500/Flash_6600_v040/" />
		<add key="Edition" value="21000" />
		<add key="Money" value="999000" />
		<add key="Gold" value="999000" />
		<add key="GiftToken" value="999000" />
    <add key="ActiveIP" value="127.0.0.1:6500" />    
    <add key="content2" value="0" />
    <add key="countDb" value="Data Source=EMRULLAH-PC\ASUNA;Initial Catalog=Db_Count;Persist Security Info=True;User ID=sa;Password=123456" />
    <add key="conString" value="Data Source=EMRULLAH-PC\ASUNA;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456" />
    <add key="membershipDb" value="Data Source=EMRULLAH-PC\ASUNA;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=123456" />
  </appSettings>
	<connectionStrings>
		<add name="Db_TankConnectionString" connectionString="Data Source=EMRULLAH-PC\ASUNA;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<sessionState timeout="5" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows" />
		<customErrors mode="Off" defaultRedirect="Error.htm">
			<error statusCode="403" redirect="AccessError.htm" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
				<add value="login.html" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
	<rewrite>
        <rules>
            <rule name="404 handler for missing files" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/resource/MissingFileHandler.ashx" />
            </rule>
        </rules>
    </rewrite>
    </system.webServer>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>